// _sass/_reset.scss

*, *::before, *::after {
	box-sizing: border-box;
  }
  body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
	margin: 0;
  }
  ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  body {
	min-height: 100vh;
	line-height: 1.6;
	text-rendering: optimizeSpeed;
  }
  a {
	text-decoration: none;
	color: inherit;
  }
  img, picture {
	max-width: 100%;
	display: block;
  }